.progress-bar {
  max-width: 400px;
  height: 4px;
  background-color: #fff;
  margin-top: 164px;
  position: relative;

  &__completed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: $purple-color;
    border-radius: 40;
  }
}

@media screen and (max-width: 1050px) {
  .progress-bar {
    margin-top: 40px;
    width: 100%;
    max-width: 768px;
  }
}
