.header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 55px;

  &__title {
    display: flex;
    align-items: center;
    color: $dark-navy-color;
    font-size: $font-size-h4;
    font-weight: 500;
    &-text {
      padding-left: 24px;
    }
  }
}
